$color: #000000;

.title {
    /*     border-bottom: 1px solid $color;*/
   /*  padding-left: 15px; */
    position: relative;
    font-size: 15px;
    color: $color;
    text-align: left;
    font-weight: 700;
    line-height: 1.6em;

    /* &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-30%);
        border: 6px solid transparent;
        border-top: 10px solid $color;
    } */

    &-logo {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../asset/image/logo.png');

        &-click {
            position: absolute;
            height: 10px;
            width: 10px;
            left: -8px;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../../asset/image/link.png');
        }
    }
}